*{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)),url(../img/bg-hero.jpg);
    height: 100vh;
}
.container{
    border: 1px solid black;
    display: flex;
}
.container .logo img{
   
    width: 242px;
    margin-top: 14px;
    margin-left: 53px;
    height: 57px;
}
.container ul{
    
    position: relative;
    left: 376px;
    top: 32px;
    display: flex;
    list-style: none;
}
.container a{
    color: white;
    padding: 14px;
    text-decoration: none;
    margin: 2px;
    position: relative;
    font-size: 15px;
    font-family: sans-serif;
}

.container a:hover{
    color: orange;
    
}
.container #btn-menu{
    font-weight: 600;
    height: 46px;
    width: 212px;
    background-color: orange;
    margin-top: -8px;
    font-size: 20px;
    color: white;
}
.container #btn-menu:hover{
    background: rgba(21, 32, 60, 0.9) ;
    color: orange;

}
/* home */
#home {
    display: flex;
}
#home .word {
    height: 513px;

    width: 50%;
    margin: 26px;
}
#home .word h1{
    position: relative;
    left: 142px;
    font-family: monospace;
    color: white;
    top: 12px;
    font-weight: bold;
    font-size: 73px;
}
#home .word p{
    color: white;
    font-size: 22px;
    left: 142px;
    width: 533px;
    bottom: 20px;
    position: relative;
    font-family: monospace;
    margin-top: 20px;
}
#home .word #btn-home{
    font-weight: 600;
    height: 46px;
    width: 212px;
    background-color: orange;
    margin-top: 12px;
    font-size: 20px;
    left: 141px;
    position: relative;
    color: white;
}
#home .word #btn-home:hover{
    background: rgba(21, 32, 60, 0.9) ;
    color: orange;
}

#home  .photo img{
    width: 68%;
    position: relative;
    top: 32px;
    left: 84px;
}
#home  .photo img{
    
        animation-name: spinning-circle;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        
}
      
@-webkit-keyframes spinning-circle {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
}
 /* cards */
 #cards .con {
    background-color: rgb(240, 240, 240);
    display: flex;
    height: 518px;
 }
 .card{
    border: 1px solid black;
    width: 18%;
    box-shadow: 0px 0px 4px mediumslateblue;
    position: relative;
    margin-top: 70px;
    height: 327px;
    top: 32px;
    left: 130px;
    background-color: white;
    margin-left: 41px;
    margin-bottom: 23px;
 }
 .card .icon{
    margin: 16px;
    width: 71px;
    text-align: center;
    position: relative;
    height: 43px;
    left: 52px;
 }
 .card h3{
    text-align: center;
    margin: 50px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: monospace;
 }
 .card p{
    text-align: center;
    color: #656262;
    font-size: 19px;
    top: 31px;
    position: relative;
    margin-top: 14px;
 }
 .card:hover{
    background-color: orange;
    color: white;
 }
 /* about */
 .about-con{
    height: 750px;
    display: flex;
    background-color: #80808014;
 }
 .about-con .imgs{
    width: 46%;
    display: flex;
    
 }
.about-con .imgs #img1{
    width: 415px;
    height: 270px;
    position: relative;
    left: 62px;
    top: 88px;
    border-radius: 8px;

}
.about-con .imgs #img2{
    top: 175px;
    left: 85px;
    position: relative;
    width: 376px;
    height: 183px;   
     border-radius: 8px;

}
.about-con .imgs #img3{
    position: relative;
    width: 381px;
    top: 383px;
    border-radius: 8px;
    right: 303px;
    height: 183px;
}
.about-con .imgs #img4{
    width: 415px;
    border-radius: 8px;
    height: 270px;
    position: relative;
    right: 285px;
    top: 379px;
}
 .about-con .text{
    width: 50%;
    background-color: #ffffff6e;
    
 }
 .text span{
    font-size: 29px;
    color: orange;
    font-weight: 900;
    font-family: cursive;
    position: relative;
    left: 73px;
    /* font-family:'Parisienne', cursive ; */
    font-family: 'Dancing Script', cursive;
 }
 .text h1{
    left: 53px;
    position: relative;
    font-size: 61px;
    font-family: monospace;
 }
 .text h2{
    font-size: 61px;
    position: relative;
    margin: 11px;
    left: 42px;
    margin-top: 0px;
    font-family: monospace;
 }
.text p{
    width: 525px;
    font-size: 23px;
    position: relative;
    top: 20px;
    left: 51px;
    color: #979696;
    font-family: monospace;
}
.text2{
    
    width: 655px;
    margin-top: 24px;
    height: 115px;
    display: flex;
}
.text2 .one{
    border-radius: 17px;
    margin-left: 51px;
    width: 285px;
    margin-top: 17px;
    display: flex;
    padding-left: 25px;
    border-left: 12px solid orange;
}
.text2 .two{
    border-radius: 17px;
    margin-left: 51px;
    width: 285px;
    margin-top: 17px;
    display: flex;
    padding-left: 25px;
    border-left: 12px solid orange;
}
.text2 h4{
    margin-top: 14px;
    font-family: system-ui;
    font-weight: bolder;
    font-size: 44px;
    color: orange;
}
.text2 #par{
    
    width: 134px;
    margin-left: 19px;
}
.text2 h5{
    font-size: 22px;
    font-family: system-ui;
    color: #c4bcbc;
    margin-bottom: 5px;
    margin-top: 11px;
}
.text2 h6{
    font-size: 19px;
    font-family: system-ui;
    font-weight: 500;
}

/* menu */
#menu{
    background-color: #80808005;
    margin-top: 94px;
    height: 649px;
     flex-wrap: wrap;
}
.container-menu{
    
    height: 555px;
    display: flex;
   
    margin-top: 75px;
    width: 99%;
}
.container-menu .item{
    
    width: 85%;
    margin-left: 103px;
    height: 124px;
}
.container-menu .item img{
    border: 1px solid;
    border-radius: 26px;
    width: 89px;
}
.container-menu .item h2{
    position: relative;
    bottom: 79px;
    left: 109px;
    font-family: monospace;
    font-size: 24px;
}
.container-menu .item span{
    left: 468px;
    font-family: monospace;
    font-size: 25px;
    color: orange;
    position: relative;
    bottom: 105px;
    font-weight: bold;
}
/* contact */
.container-contact{
    margin-top: 123px;
    border: 1px solid;
    height: 502px;
    display: flex;
}
.div-form{
    background-color: #050523;
    
}
form{
    margin-left: 20px;
    
    width: 95%;
    height: 311px;
}
.div-form input{
    margin-bottom: 20px;
    font-size: 21px;
    height: 46px;
    width: 279px;
    margin-left: 38px;
}
.div-form .num{
    width: 276px;
    position: relative;
    color: white;
    height: 50px;
    left: 363px;
    display: grid;
    bottom: 70px;

}
.div-form #msg{
    margin-bottom: 27px;
    font-size: 21px;
    height: 92px;
    margin-top: -55px;
    width: 589px;
    margin-left: 38px;
}
.div-form #form-btn{
    color: white;
    font-size: 32px;
    width: 594px;
    height: 58px;
    margin-left: 37px;
    background-color: orange;
}
.div-form #form-btn:hover{
    background-color: #050523;
    color: orange;
    border: 1px solid orange;
}
/* end contact */
/* team section */
.team-con{
    position: relative;
    margin-top: 145px;
    width: 96%;
    background-color: #a8a2a208;
    height: 600px;
    left: 21px;
    margin-bottom: 108px;
}
.team-con h1{
    padding: 16px;
    text-align: center;
    color: orange;
    font-size: 34px;
    font-family:'Parisienne', cursive ;
    font-weight: 700;
}
.team-con h2{
    font-size: 45px;
    text-align: center;
    margin-top: -13px;
    font-weight: 500;
    font-family: system-ui;
}
.card-info{
    margin-top: 29px;
    display: flex;
}
.card-info .car{
    margin-left: 41px;
    border: 1px solid #f4efef;
    width: 25%;
    background-color: white;
    height: 428px;
}

.card-info .car .car-img img{
    border-width: thin;
    
    top: 17px;
    border-radius: 124px;
    width: 217px;
    position: relative;
    left: 41px;
    margin-bottom: 27px;
}
.card-info .car .car-img img:hover{
    transform: scale(1.1)
}
.card-info .car .data p{
    font-weight: 700;
    font-size: 28px;
    font-family: system-ui;
    text-align: center;
    margin-bottom: 4px;
}
.card-info .car .data h5{
    text-align: center;
    color: #686464;
    font-weight: 700;
    font-size: 17px;
    font-family: system-ui;
}
.card-info .car .social {
    display: flex;
    position: relative;
    left: 35px;
    font-size: 27px;
    top: 17px;
}
.card-info .car .social a{
    margin: 12px;
    border: 1px solid rgb(245, 242, 242);
    padding: 11px;
    color: orange;
    background: rgb(241, 241, 240);
    border-radius: 13px;
}
.card-info .car .social a:hover{
    color: rgb(251, 251, 251);
    background-color: orange;
    border-color: orange;


}
/* end team */
/* test */
#test-sec{
    height: 600px;
    margin-bottom: 36px;
}
.test-word h1{
    margin: 18px;
    padding: 16px;
    text-align: center;
    color: orange;
    font-size: 34px;
    font-family:'Parisienne', cursive ;
    font-weight: 700;
   
}
.test-word h2{
    font-size: 45px;
    text-align: center;
    margin-top: -13px;
    font-weight: 500;
    font-family: system-ui;
}
.con-div{
    display: flex;
}
.test-card{
    margin-left: 131px;
    margin-top: 62px;
    width: 21%;
    height: 317px;
}
.test-card:hover{
    color: white;
    background-color: orange;
}
.test-card .first p{
    font-size: 22px;
    margin: 12px;
    color: gray;
    font-family: ui-monospace;
}
.test-card .sec{
    display: flex;
    margin-top: 51px;
}
.test-card .sec img{
    margin: 12px;
    border-radius: 68px;
    width: 67px;
}
.test-card  .sec .txt{
    text-align: center;
    margin-top: 26px;
}
.test-card .sec .txt h3{    
    font-family: math;
    font-size: 25px;
    font-weight: 600;
}
.test-card .sec .txt h6{
    font-size: 15px;
    color: gray;
    font-family: system-ui;
}
/* end test */
/* footer */
.con-foot{
    color: white;
    border: 1px solid;
    margin-top: 101px;
    height: 502px;
    display: flex;

    background-color: #0F172B;
}
.data-con{
    border: 1px solid orange;
    width: 20%;
    height: 339px;
    margin-top: 57px;
    margin-left: 72px;
}
.square h1{
    margin: 22px;
    padding: 16px;
    color: orange;
    font-size: 34px;
    font-family: 'Parisienne', cursive;
    font-weight: 700;
}
.square .tool{
    display: grid;
}
.square  .tool a{
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui;
    margin-left: 32px;
}
.square .tool2 span{
    font-size: 20px;
    margin-left: 16px;
    margin-bottom: 13px;
}
.square .tool2 .net{
    color: orange;
    margin-top: 52px;
    font-size: 30px;
    text-align: center;
    height: 40px;
}
.square .tool2 .net a{
    color: orange;
}
.square .tool2 .net a:hover{
    color: white;
}
.square .tool3 span{
    font-size: 24px;
    font-family: system-ui;
}
.square .tool4 p{
    font-family: math;
    margin-bottom: 42px;
    font-size: 25px;
}
.square .tool4 input{
    height: 38px;
}
.square .tool4 #btn-last{
    height: 41px;
    margin-top: 12px;
    font-size: 21px;
    width: 82px;
    background-color: #FFA726;
    color: white;
    border: none;
}
.square .tool4 #btn-last:hover{
    background-color: #0F172B;
    color: orange;
    border: 1px solid orange;
}
.fin{
    font-family: monospace;
    color: white;
    margin-top: -49px;
    text-align: center;
    font-size: 24px;
    height: 49px;
    background-color: #0F172B;
}